@font-face {
font-family: 'OpenSans-Light';
src: url('fonts/OpenSans-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'OpenSans-Bold';
src: url('fonts/OpenSans-Bold.ttf') format('truetype')
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'OpenSans-Semibold';
src: url('fonts/OpenSans-Semibold.ttf') format('truetype')
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Flatform_Light';
src: url('fonts/Flatform_Light.otf');
font-weight: normal;
font-style: normal;
}
* {
padding: 0;
margin: 0;	
}

.wrapper {
	box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: white;
}
.header {
	width: 1200px;
	height: 60px;
	padding-top: 20px;
}	
.header-logo {
	width: 119px;
	height: 28px;
	float: left;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.header-nav {
	float: right;
	margin-top: 10px;
}
.header-nav-list {
	list-style-type: none;
	display: flex;
}
.header-nav-list__item {
	margin-left: 55px;
}
.header-nav-list__item a{
	font-family: 'OpenSans-Light', 'Arial';
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	cursor: pointer;
    text-decoration: none;
    color: black;
}
.header-nav-list__item a:hover{
	text-decoration: underline;
}
.hero {
	margin: 0 auto;
	padding-top: 215px;
	width: 1200px;
	height: 500px;
    position: relative;
	background-image: url(img/hero-image.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.hero h1 {
	font-family: 'Flatform_Light', 'Arial';
	font-size: 50px;
	font-weight: normal;
	text-align: center;
}
.hero p {
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'OpenSans-Light', 'Arial';
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}
.hero-button {
	margin: 0 auto;
	width: 290px;
	height: 50px;
    background-color: #4d4d4d;
	background-image: url(img/arrow.png);
	background-repeat: no-repeat;
	background-position: 75% center;
	text-align: center;
	border-radius: 30px;
}
.hero-button a {
	font-family: 'OpenSans-Semibold', 'Arial';
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
	color: white;
	font-weight: normal;
	text-decoration: none;
	line-height: 50px;
}
.future {
	margin: 0 auto;
	width: 1200px;
	height: 270px;
	display: flex;
	justify-content: space-around;
}
.future-block {
	width: 300px;
	height: 250px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.future-block img { display: block; width: 80px; height: 80px;}

.future-block h3 {
    margin-top: 35px; 
	margin-bottom: 35px;
	font-family: 'OpenSans-Bold', 'Arial';
	font-weight: bold;
	font-size: 22px;
}
.future-block p {
	font-family: 'OpenSans-Light';
	font-size: 14px;
	color: black;
	font-weight: normal;
}
.slide {
	background-image: url(img/separator.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0 auto;
	padding-top: 80px;
}
.slide h2, .work h3{
	margin-bottom: 20px;
	font-family: 'OpenSans-Bold', 'Arial';
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.slide p {
	font-family: 'OpenSans-Light';
	font-size: 14px;
	color: black;
	font-weight: normal;
	text-align: center;
	margin-bottom: 50px;
}
.slide img {
 display: block;
  width: 686px; 
  height: 383px;
  margin: 0 auto;
}
.work {
	margin-top: 20px;
}
.work-list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}
.work-list-block {
	width: 260px;
	height: 340px;
	margin-bottom: 100px;
	background-color: #f7f7f7;
}
.work-list-block:hover .work-list-block__link {
	display: block;
} 
.work-list-block__title {
	font-family: 'OpenSans-Bold', 'Arial';
    color: #d2d1d1;
    font-size: 25px;
    margin-top: 140px;
    text-align: center;
}
.work-list-block__text {
	font-family: 'OpenSans-Light';
    color: #d2d1d1;
    font-size: 10px;
    text-align: center;
}
.work-list-block__link {
	margin-top: 100px;
	text-align: center;
	width: 260px;
	height: 60px;
	line-height: 60px;
	background-color: #575757;
	background-image: url(img/arrow.png);
	background-repeat: no-repeat;
	background-position: 80% center;
    display: none;
}

.work-list-block__link a {
	font-family: 'OpenSans-Light';
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: white;
}
.subscribe {
	margin: 0 auto;
	width: 1200px;
	padding-top: 50px;
	padding-bottom: 10px;
	background-color: #f5f5f5;
}
.subscribe h3{
	margin-bottom: 20px;
	font-family: 'OpenSans-Bold', 'Arial';
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.subscribe p {
	font-family: 'OpenSans-Light';
	font-size: 14px;
	color: black;
	font-weight: normal;
	text-align: center;
}
.subscribe-but {
    display: block;
    margin: 60px auto 90px auto;
    width: 310px;
	height: 50px;
	border: 1px solid black;
	border-radius: 30px;
}
.subscribe-but a {
	font-family: 'OpenSans-Semibold', 'Arial';
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
	color: black;
	text-decoration: none;
	line-height: 50px;
}
.social {
	width: 1200px;
	margin: 0 auto;
	padding-top: 30px;
	background-color: white;
}
.social-list {
	margin: 0 auto;
	list-style-type: none;
	width: 460px;
	height: 70px;
	display: flex;
	justify-content: space-between;
}
.social-item {
	width: 70px;
	height: 70px;
	background-color: white;
	border: 1px solid black;
}
.social-item:hover {
	background-color: #55acee;
	cursor: pointer;
}
.facebook {
	background-image: url(img/facebook.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.twitter {
	background-image: url(img/twitter.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.www {
	background-image: url(img/www.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.google-plus {
	background-image: url(img/google-plus.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.footer {
	margin: 50px auto;
	padding: 30px 120px;
	background-color: #3b3b3b;
	display: flex;
	justify-content: space-between;
}
.footer-block {
	width: 275px;
	height: 150px;
}
.footer-block h4{
	font-family: 'OpenSans-Light';
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}
.footer-block-nav {
list-style-type: none;
}
.footer-block-nav__item {
	margin: 5px 0; 
}
.footer-block a, p, span{
	font-family: 'OpenSans-Light';
    color: white;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
 }
